
td>svg:hover {
	cursor: pointer !important;
}

#AddCoustomer {
	float: right;
}

.modal-dialog {
	max-width: 70% !important;
	min-width: 280px;
	margin: 4.75rem auto !important;
}

.modal-content {
	width: 100% !important;
	border: none !important;
	border-radius: 1rem !important;
}

.modal-dialog>.modal-content>.modal-body {
	padding: 20px 50px 20px 50px;
}

.headtitle {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 10px 15px 10px 15px;
}

.headtitle>div>h1 {
	margin: 0 0 0 0 !important;
}

.close {
	font-size: 2rem !important;
	text-shadow: none !important;
}

form {
	padding: 15px 15px 15px 15px;
}

.file {
	visibility: hidden;
	position: absolute;
}

/* .customerlist:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
} */

.customerlist>th>svg:hover {
	color: white;
	box-shadow: 3px 2px 2px transparent, 0 0 25px #0000ffdb, 0 0 0px #00008bcf;
	border-radius: 100%;
	cursor: pointer;
}

.customerlist {
	border-radius: 10px;
}

.customerlist td, .customerlist th {
	border: none;
}

.table thead th {
	border: none;
}